html
  head
    title Login
  body
    if error
      p.error #{error}
    end
    form(action="/login", method="post")
      label(for="email") Email
      input(type="email", name="email" id="email", placeholder="Email" value="homero@mail.com")
      br
      label(for="password") Password
      input(type="password", name="password" id="password", placeholder="Password" value="password")
      br
      a(href="/register") Registrarse
      input(type="submit" value="Ingresar")